body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0056b3;
    color: white;
    padding: 1em 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header h1 {
    text-align: center;
    margin: 0;
}

nav ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px 0;
}

.booking-form,
.info {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-form h2,
.info h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
}

input,
button {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
}

.button-container button {
    flex: 1;
    margin: 0; /* Reset default button margin */
}

.button-container button + button {
    margin-left: 10px; /* Adjust the gap between buttons */
}

